*{
    margin: 0;
    padding: 0; 
}

body,.container,.row{
    height: 100vh;
}

#field{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

.cards{
    width: 100px;
    height: 120px;
    margin: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black  ;
    background-color: rgb(81, 232, 252) ;
}

.top_field{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-top: 20px;
}

#display_score{
    font-size: 40px;
}

#start_button{
    font-size: 20px;
    height: 50px;
    width: 130px;
    margin-bottom: 5px;
}

#back_button{
    font-size: 15px;
    height: 50px;
    width: 130px;
}

#display_time{
    font-size: 30px;
    
}



/*二人用css*/
#score_fild{
    height: 120px;
    min-width: 100px;
}

#score_fild_bottom{
    padding-left: 5px;
}

.button-area{
    display: flex;
    flex-direction: column;
}

.score{
    font-size: 20px;
}



#nowPlayer{
    font-size: 30px;
}

/*menu.htmlのcss*/
.button-menu {
	display: block;
	cursor: pointer;
	min-width: 70%;
	margin: 1em auto;
	padding: 20px;
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	text-align: center;
	text-decoration: inherit;
	background: #369000;
	box-shadow: 0 6px 0 #047c71, 0 12px 0 rgba(0,0,0,.2);
	transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
}
.button-menu:hover {
	background: #3cc4bd;
	box-shadow: 0 3px 0 #12978d, 0 6px 0 rgba(0,0,0,.2);
	transform: translateY(3px);
}
.button-menu:active {
	color: #ddd;
	background: #12978d;
	box-shadow: 0 0 0 #047c71, 0 0 0 rgba(0,0,0,.2);
	transform: translateY(6px);
	transition-duration: .1s;
}

.title-top{
    font-size: 80px; 
    font-family: cursive;
}

.title-bottom{
    font-size: 50px;
}

.menu{
    font-size: 40px;
    font-family: serif;
    
}

.button-style{
    font-size: 25px;
}



@media (max-width: 800px) {

    .title-top {
        font-size: 50px;
        font-family: cursive;
    }

    .title-bottom{
        font-size: 30px;
    }

    .menu{
        font-size: 40px;
        font-family: serif;
    }

    .button-style{
        font-size: 20px;
    }
}

@media (max-width: 768px){

    #display_score{
        font-size: 25px;
    }

    #start_button{
        font-size: 20px;
        height: 50px;
        width: 130px;
    }

    #field{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 500px;
    }
    .cards{
        width: 80px;
        height: 100px;
    }
}

@media screen and (max-width: 480px){

    .title-top {
        font-size: 50px !important;
        font-family: cursive;
    }

    .button-style {
        font-size: 20px;
        width: 100%;
    }
    .cards {
        width: 60px;
        height: 80px;
        font-size: 30px;
    }

    #display_time{
        font-size: 20px;
        margin-top: 10px;
    }

    #display_score {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #field {
        margin-top: 60px !important;
    }

    .main-fild{
        position: relative;
    }

    #nowPlayer {
        font-size: 25px;
        position: absolute;
        left: 43%;
        top: 15%;
    }
    .top_field {
        margin-top: 0px;
    }

}

@media screen and (max-width : 420px) {
    #field {
        margin-top: 40px !important;
    }
    
}

@media screen and (max-width: 380px ) {

    #start_button {
        font-size: 20px;
        height: 40px;
        width: 130px;
    }

    #back_button {
        font-size: 15px;
        height: 40px;
        width: 130px;
    }

    .top_field {
        max-height: 100px;
        margin-top: 0px;
    }

    #field {
        margin-top: 20px !important;
    }

    #nowPlayer {
        top: 12%;
    }
    
}

@media screen and (max-width:360px){

    #field {
        margin-top: 5px !important;
    }

    #start_button {
        font-size: 15px;
        height: 35px;
        width: 130px;
    }

    #back_button {
        height: 35px;
    }

    #score_fild_bottom {
        padding-left: 0px;
    }
    
    #nowPlayer {
        font-size: 20px;
        top: 12% !important;
    }

    .top_field {
        margin-top: 0px;
    }
}